div.bookmark-list {
  margin-top: 30px;
  min-height: 552px;
  background-image: url('/images/bookmark-background.png'); 
  background-repeat: no-repeat; 
  background-position: top;
}

li.bookmark-thumb-item {
  margin-bottom: 5px;
}

div.bookmark-thumb {
  justify-content: space-between !important;
  display: flex !important;
}

div.bookmark-sub {
  font-size: smaller;
  text-align: right;
  vertical-align: middle;
}