@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
}

pre {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: initial;
}

.index-main {
  min-width: 400px; 
  max-width: 1300px; 
  padding-top: 20px; 
  padding-left: 40px; 
  padding-right: 40px;
  border: 1px solid #c4c4c4;
  background-color: white;
}

.place-main {
  min-width: 400px; 
  max-width: 1300px; 
  padding-top: 20px; 
  padding-left: 40px; 
  padding-right: 40px;
  border: 1px solid #c4c4c4;
  background-color: white;
}

.plan-main {
  min-width: 400px; 
  max-width: 1300px; 
  padding-top: 20px; 
  padding-left: 40px; 
  padding-right: 40px;
  border: 1px solid #c4c4c4;
  background-color: white;
}

.place-recommendation-main {
  min-width: 400px; 
  max-width: 1300px; 
  padding-top: 20px; 
  padding-left: 40px; 
  padding-right: 40px;
  border: 1px solid #c4c4c4;
  background-color: white;
}

a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}

div.common-form {
  margin-bottom: 30px;
}

div.detail-top-button {
  text-align: right;
  margin-bottom: 10px;
}

div.detail-bottom-button {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

#pagination {
  margin-top: 20px;
  margin-bottom: 20px;
}