div.plan-list {
  margin-top: 30px;
  min-height: 490px;
  background-image: url('/images/plan-background.png'); 
  background-repeat: no-repeat; 
  background-position: bottom;
}

li.plan-thumb-item {
  margin-bottom: 5px;
}

div.plan-thumb {
  justify-content: space-between !important;
  display: flex !important;
}

div.plan-sub {
  font-size: smaller;
  text-align: right;
  vertical-align: middle;
}

span.plan-title {
  font-size: large;
  font-weight: 500;
}

span.plan-finished {
  font-size: smaller;
  color:aliceblue;
  background-color: #200069;
  border: 1px solid #200069;
  border-radius: 5px / 5px;
}

span.plan-finished-l {
  color:aliceblue;
  background-color: #200069;
  border: 1px solid #200069;
  border-radius: 5px / 5px;
}

div.detailplan-thumb {
  justify-content: space-between !important;
  display: flex !important;
}

div.detail-plan {
  margin-top: 30px;
}

div.plan-comment-form-header {
  margin-bottom: 10px;
}

div.plan-comment {
  margin-top: 30px;
}

div.plan-comment-empty {
  margin-top: 30px;
}

li.detail-plan-list-empty-box {
  min-height: 331px;
}

div.detail-plan-form-mode-information {
  margin-top: 30px;
}

li.detailplan-mode-item {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 200px;
  margin-bottom: 20px;
}

div.detail-plan-selected-header {
  margin-bottom: 20px;
}

pre.plan-description {
  margin-top: 5px;
  white-space: pre-wrap;
}

div.plan-overlay-0 {
  min-width: 70px;
  min-height: 100px;
  background-image: url('/images/markers/plan-marker-0.png');
  background-repeat: no-repeat; 
  background-position: top;
  text-align: center;
}

div.plan-overlay-1 {
  min-width: 70px;
  min-height: 100px;
  background-image: url('/images/markers/plan-marker-1.png');
  background-repeat: no-repeat; 
  background-position: top;
  text-align: center;
}

div.plan-overlay-2 {
  min-width: 70px;
  min-height: 100px;
  background-image: url('/images/markers/plan-marker-2.png');
  background-repeat: no-repeat; 
  background-position: top;
  text-align: center;
}

div.plan-overlay-3 {
  min-width: 70px;
  min-height: 100px;
  background-image: url('/images/markers/plan-marker-3.png');
  background-repeat: no-repeat; 
  background-position: top;
  text-align: center;
}

div.plan-overlay-4 {
  min-width: 70px;
  min-height: 100px;
  background-image: url('/images/markers/plan-marker-4.png');
  background-repeat: no-repeat; 
  background-position: top;
  text-align: center;
}

div.plan-overlay-5 {
  min-width: 70px;
  min-height: 100px;
  background-image: url('/images/markers/plan-marker-5.png');
  background-repeat: no-repeat; 
  background-position: top;
  text-align: center;
}

div.plan-overlay-6 {
  min-width: 70px;
  min-height: 100px;
  background-image: url('/images/markers/plan-marker-6.png');
  background-repeat: no-repeat; 
  background-position: top;
  text-align: center;
}

div.plan-overlay-7 {
  min-width: 70px;
  min-height: 100px;
  background-image: url('/images/markers/plan-marker-7.png');
  background-repeat: no-repeat; 
  background-position: top;
  text-align: center;
}

div.plan-overlay-8 {
  min-width: 70px;
  min-height: 100px;
  background-image: url('/images/markers/plan-marker-8.png');
  background-repeat: no-repeat; 
  background-position: top;
  text-align: center;
}

div.plan-overlay-9 {
  min-width: 70px;
  min-height: 100px;
  background-image: url('/images/markers/plan-marker-9.png');
  background-repeat: no-repeat; 
  background-position: top;
  text-align: center;
}

h6.overlay-number {
  padding-top: 12px;
}