div.my-review-list {
  margin-top: 30px;
  min-height: 552px;
  background-image: url('/images/review-background.png'); 
  background-repeat: no-repeat; 
  background-position: bottom;
}

div.my-review-thumb {
  justify-content: space-between !important;
  display: flex !important;
}

div.my-review-sub {
  font-size: smaller;
  text-align: right;
  vertical-align: middle;
}

div.review-place-information {
  margin-bottom: 30px;
}

div.review-place-information-header {
  margin-bottom: 10px;
}

div.review-information-header {
  margin-bottom: 10px;
}